@use 'variables' as var;

@mixin setColors($bgColor,$headerTextColor,$toggleBg,$screenBg,$mainBg,$numsAndOpBg,$numsAndOpShadow,$delAndResetBg,$delAndResetShadow,$eqlsBg,$eqlsShadow,$numKeyHover,$numKeyShadow,$delResetKey,$delresetShadow,$eqsKey,$eqsshadow){
  
  .calc{
    background-color:$bgColor;
  }

  .calc__container-logo,.labels,.calc__theme{
    color: $headerTextColor;
  }

  .calc__header-btns{
    background-color:$mainBg !important;
  }

  .toggleBtn{
    background-color: $eqlsShadow !important;
    &:hover{
      background-color: $eqlsBg !important;
    }
  }

  .calc__display{
    background-color: $screenBg;
  }

  .calc__numberContainer{
    background-color: $mainBg !important;
  }

  .numsAndOperators{
    background-color: $numsAndOpBg !important;
    box-shadow: 0 4px 0 0.2px $numsAndOpShadow !important;
    &:hover{
      background-color: $numKeyHover !important;
      box-shadow:0 4px 0 0.2px $numKeyShadow !important;
    }
  }

  .delBtn,.resetBtn{
    background-color: $delAndResetBg !important;
    box-shadow: 0 4px 0 0.2px $delAndResetShadow !important;
    &:hover{
      background-color: $delResetKey !important;
      box-shadow:0 4px 0 0.2px $delAndResetShadow !important;
    }

  }

  .equalesBtn{
    background-color:$eqlsBg !important;
    box-shadow: 0 4px 0 0.2px $eqlsShadow !important;
    &:hover{
      background-color: $eqsKey !important;
      box-shadow:0 4px 0 0.2px $eqsshadow !important;
    }
  }
  
}
.theme0{
  @include setColors(var.$Verydarkdesaturatedblue1,
  var.$White, 
  var.$Verydarkdesaturatedblue2,
  var.$Verydarkdesaturatedblue3,
  var.$Verydarkdesaturatedblue2,
  var.$Lightgrayishorange,
  var.$Grayishorange,
  var.$Desaturateddarkblue1,
  var.$Desaturateddarkblue2,
  var.$Red,
  var.$Darkred,var.$White,rgb(176, 173, 167),
  hsl(225, 29%, 59%),hsl(226, 18%, 42%),
  rgb(220, 89, 66),rgb(160, 69, 53)
  );

  .equalesBtn{
    color:var.$White !important;
  }

  .delBtn, .resetBtn{
    color:var.$White !important;
  }

}

.theme1{
  @include setColors(var.$Lightgray,
  var.$Verydarkgrayishyellow,
  var.$Grayishred,
  var.$Verylightgray,
  var.$Grayishred,
  var.$Lightgrayishyellow,
  var.$Darkgrayishorange,
  var.$Darkmoderatecyan,
  var.$Verydarkcyan,
  var.$Orange ,
  var.$Darkorange,var.$White,rgb(178, 175, 169),
  hsl(185, 34%, 45%),hsl(185, 54%, 36%),
  hsl(25, 79%, 52%),hsl(25, 80%, 42%)
  );

  .delBtn,.resetBtn{
    color:var.$White !important;
  }

  .equalesBtn{
    color:var.$White !important;
  }

}

.theme2{
  @include setColors(var.$Verydarkviolet1,
  var.$Lightyellow ,
  var.$Purecyan ,
  var.$Verydarkviolet2 ,
  var.$Verydarkviolet2 ,
  var.$Veryarkviolet ,
  var.$Darkmagenta ,
  var.$Darkviolet,
  var.$Vividmagenta,
  var.$Purecyan,
  var.$Softcyan,rgb(67, 38, 99),hsl(290deg 70% 36%),
  rgb(116, 14, 163),rgb(193, 41, 244),
  hsl(177, 86%, 62%),hsl(177, 83%, 77%) 
  );

  .delBtn,.resetBtn{
    color:var.$White !important;
  }

  .equalesBtn{
    color:var.$Verydarkblue !important;
  }

  .numsAndOperators{
    color: var.$Lightyellow !important;
  }

}