// @use 'variables' as var;
@use 'mixin';

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// @mixin setColors($bgColor,$headerTextColor,$toggleBg,$screenBg,$mainBg,$numsAndOpBg,$numsAndOpShadow,$delAndResetBg,$delAndResetShadow,$eqlsBg,$eqlsShadow){
//   .calc{
//     background-color:$bgColor;
//   }
//   .calc__container-logo,.labels,.calc__theme{
//     color: $headerTextColor;
//   }
//   .calc__header-btns{
//     background-color:$mainBg !important;
//   }
//   .toggleBtn{
//     background-color: $eqlsBg !important;
//   }
//   .calc__display{
//     background-color: $screenBg;
//   }
//   .calc__numberContainer{
//     background-color: $mainBg !important;
//   }
//   .numsAndOperators{
//     background-color: $numsAndOpBg !important;
//     box-shadow: 0 4px 0 0.2px $numsAndOpShadow !important;
//   }
//   .delBtn,.resetBtn{
//     background-color: $delAndResetBg !important;
//     box-shadow: 0 4px 0 0.2px $delAndResetShadow !important;
//   }
//   .equalesBtn{
//     background-color:$eqlsBg !important;
//     box-shadow: 0 4px 0 0.2px $eqlsShadow !important;
//   }
  
// }
// .theme1{
//   @include setColors(var.$Verydarkdesaturatedblue1,
//   var.$White, 
//   var.$Verydarkdesaturatedblue2,
//   var.$Verydarkdesaturatedblue3,
//   var.$Verydarkdesaturatedblue2,
//   var.$Lightgrayishorange,
//   var.$Grayishorange,
//   var.$Desaturateddarkblue1,
//   var.$Desaturateddarkblue2,
//   var.$Red,
//   var.$Darkred
//   )
// }
// .theme2{
//   @include setColors(var.$Lightgray,
//   var.$Verydarkgrayishyellow,
//   var.$Grayishred,
//   var.$Verylightgray,
//   var.$Grayishred,
//   var.$Lightgrayishyellow,
//   var.$Darkgrayishorange,
//   var.$Darkmoderatecyan,
//   var.$Verydarkcyan,
//   var.$Orange ,
//   var.$Darkorange
//   )
// }
// .theme3{
//   @include setColors(var.$Verydarkviolet1,
//   var.$Lightyellow ,
//   var.$Purecyan ,
//   var.$Verydarkviolet2 ,
//   var.$Verydarkviolet2 ,
//   var.$Veryarkviolet ,
//   var.$Darkmagenta ,
//   var.$Darkviolet,
//   var.$Vividmagenta,
//   var.$Purecyan,
//   var.$Softcyan
//   )
// }

body{
  font-family: 'League Spartan', sans-serif;
  .calc{
    padding:1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

   .calc__container{
      padding: 1.5rem;
      width: min(589px,100%);
      .calc__container-header{
        display: flex;
        justify-content: space-between;

        .calc__container-logo{
          font-size: 2rem;
        }
        .calc__header-themeContainer{
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 125px;

          .calc__theme{
            font-size:.7rem;
            text-transform: uppercase;
          }
          .calc__header-btns{
            all: unset;
            display: flex;
            align-items: center;
            flex-direction: row;
            border-radius:30px;
            position: relative;
            height: 15px;
            width: 55px;
            padding: .3rem;

            input[type=radio]{
              opacity: 0;
              cursor: pointer;
              height: 17px;
              width: 17px;
              -webkit-tap-highlight-color: transparent;
            }
            input{
              cursor: pointer;
            }
            .labels{
              position: relative;
              transform: translate(-10px,-23px);
              font-size: .9rem;
            }

            .toggleBtn{
              all:unset;
              height:17px;
              width:17px;
              border-radius: 50%;
              position: absolute;
              cursor: pointer;
              transition:all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);
            }
          }
        }
      }
      .calc__display{
        width: 100%;
        height: 90px;
        margin: 2rem 0;
        // display: flex;
        // justify-content: end;
        // align-items: center;
        // text-align:end;
        // #calc__input{
        // width: 100%;
        // height: 90px;
        border-radius: 15px;
        // }
      }
      .calc__numberContainer{
        padding: 1.6rem 1.3rem;
        border-radius: 10px;

        
        .rows{
          display: flex;
          justify-content: space-between;
          margin-bottom: 1rem;

          .keyStyle{
            all: unset;
            width: min(110px,22%);
            height: 70px;
            text-align: center;
            border-radius: 5px;
            font-size: 2.1rem;
            &:hover{
              cursor: pointer;
            }

            @media (min-width:772px) {
              height: 62px !important;
              border-radius: 10px;
            }
          }
          .delBtn{
            font-size: 1.3rem ;
          }
          
        }
        .row-5{
          display: flex;
          justify-content: space-between;

          .resetBtn,.equalesBtn{
            all: unset;
            width: min(239px,48%);
            text-align: center;
            height: 70px;
            border-radius: 5px;
            font-size: 1.5rem;
            &:hover{
              cursor: pointer;
            }
            @media (min-width:772px) {
              height: 60px !important;
              border-radius: 10px;
            }
          }
        }
      }
   }
  }
}


